body {
  background-color: #d82b47;
  font-size: 1.2rem;
  font-family: helvetica;
  color: whitesmoke;
}

p {
  font-size: 0.75em;
}

footer {
  margin: 2em 1em;
}

.content {
  color: black;
  left: 0.1em;
  top: 1em;
  background-color: whitesmoke;
  position: relative;
  padding: 0.2em 1em;
}

.updated-time {
  font-style: italic;
  font-size: 0.7em;
  top: -1.8em;
  position: relative;
}
