#destination__search-opts {
  width: 17rem;
  font-size: 1.3rem;
  font-style: italic;
}

#fieldset__search {
  background-color: transparent;
  width: 20em;
  position: fixed;
  top: 0.2rem;
  left: 13rem;
  z-index: 1;
}

#search {
  width: 16.1rem;
  font-size: 1.2rem;
  padding: 0.2rem;
}

#btn--search {
    position: relative;
    left: 16em;
    top: -1.58em;
    font-size: 1em;
}

#container--search-results{
  z-index: 1;
  width:26em;
  position: fixed;
  top: 2.8em;
}