<!DOCTYPE html>
<html>
<head>
  <title>Now Berlinale</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" media="all" href="/assets/stylesheets/berlinale_styles.css" />
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
